.animal-show {
	border: 1px solid lightgray;
	border-right: 5px;
	box-shadow: 0 3px 4px lightgray;
	margin: 10px;
	padding: 10px;
	position: relative;
}

.animal {
	height: 200px;
}

.heart {
	bottom: 10px;
	position: absolute;
	right: 10px;
}
